/*FOOTER*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common header variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Header variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Footer 'footer'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fcfcfc;

  &__list {

    &-item:first-child {
      padding-top: 0;
    }

    &-item {
      padding-top: 35px;
      &__title {
        color: #333333;
        font-size: 24px;
        font-weight: 400;
        line-height: 16px;
        padding-bottom: 35px;
      }

      &__header-io {
        color: #8d81ac;
      }

      &__header {
        color: #323232;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        padding-bottom: 5px;
      }

      &__description {
        color: #848e97;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }

      &__mode {
        color: #848e97;
        font-size: 12px;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 35px;
      }

      &__list {
        padding-left: 0;
        &-option {
          text-align: left;
          color: #8d81ac;
          font-size: 15px;
          font-weight: 400;
          line-height: 23px;
          padding-bottom: 5px;
        }
      }

      &__number {
        color: #31384d;
        font-size: 30px;
        font-weight: 700;
        line-height: 28px;
        padding-bottom: 15px;
      }
    }

  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 992px) and (min-width: 481px) {
  .footer {

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-item:nth-child(1) {
        padding-top: 0;
      }

      &-item:nth-child(2) {
        padding-top: 0;
      }

      &-item {
        width: 45%;
      }

    }
  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 993px) {
  .footer {

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-item {
        width: 20%;
        padding-top: 0;
      }

    }
  }
}
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/