/*HEADER*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common Section variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
$bg_header_320: "../img/320/header/bg_header_320.png";

$logo_320: "../img/320/header/logo_320.png";
$logo_width_320: 43px;
$logo_height_320: 41px;

$btn_menu_320: "../img/common/header/header_button_menu.png";
$btn_menu_width_320: 26px;
$btn_menu_height_320: 21px;
/*--------------------------------------------------------------------------------------------------------------------*/

/*Header variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header 'header'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.header {
  &__navbar {

    &-logo {

    }

    &-btn-buy {
      cursor: pointer;
      border-radius: 20px;
      background-color: #8c80ab;
      color: #ffffff;
      font-weight: 700;
      line-height: 15px;
    }



  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) and (min-width: 320px) {
  .header {
    background: url($bg_header_320) no-repeat;
    background-size: 100%;

    &__navbar {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;

      &-logo {
        background: url($logo_320) no-repeat;
        background-size: 100%;
        width: $logo_width_320;
        height: $logo_height_320;
      }

      &-btn-buy {
        align-self: center;
        font-size: 15px;
        padding: 10px 25px;
      }

      &-menu768 {
        display: none;
      }

      &-menu1200 {
        display: none;
      }

      &-btn-menu {
        background: url($btn_menu_320) no-repeat;
        //background-size: 100%;
        width: $btn_menu_width_320;
        height: $btn_menu_height_320;
      }

    }

  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) and (min-width: 401px) {

  .header {
    background: url($bg_header_320) no-repeat;
    background-size: 100%;

    &__navbar {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;

      &-logo {
        background: url($logo_320) no-repeat;
        background-size: 100%;
        width: $logo_width_320;
        height: $logo_height_320;
      }

      &-btn-buy {
        align-self: center;
        font-size: 15px;
        padding: 10px 25px;
      }

      &-menu768 {
        display: none;
      }

      &-menu1200 {
        display: none;
      }

      &-btn-menu {
        background: url($btn_menu_320) no-repeat;
        //background-size: 100%;
        width: $btn_menu_width_320;
        height: $btn_menu_height_320;
      }

    }

  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) and (min-width: 481px) {

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) and (min-width: 993px) {

}
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/