/*HEADER*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Common Section variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Header variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
$bg_header_320: "../img/320/header/bg_header_320.png";

$logo_320: "../img/320/header/logo_320.png";
$logo_width_320: 43px;
$logo_height_320: 41px;

$btn_menu_320: "../img/320/header/header_button_menu_320.png";
$btn_menu_width_320: 26px;
$btn_menu_height_320: 21px;
/*--------------------------------------------------------------------------------------------------------------------*/

/*Header variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
$bg_header_480: "../img/480/header/bg_header_480.png";

$logo_480: "../img/480/header/logo_480.png";
$logo_width_480: 147px;
$logo_height_480: 41px;

$btn_menu_480: "../img/480/header/header_button_menu_480.png";
$btn_menu_width_480: 26px;
$btn_menu_height_480: 21px;
/*--------------------------------------------------------------------------------------------------------------------*/

/*Header variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
$bg_header_768: "../img/768/header/bg_header_768.png";

$logo_768: "../img/768/header/logo_768.png";
$logo_width_768: 147px;
$logo_height_768: 41px;

$btn_menu_768: "../img/768/header/header_button_menu_768.png";
$btn_menu_width_768: 26px;
$btn_menu_height_768: 21px;

/*--------------------------------------------------------------------------------------------------------------------*/

/*Header variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
$bg_header_1200: "../img/1200/header/bg_header_1200.png";

$logo_1200: "../img/1200/header/logo_1200.png";
$logo_width_1200: 147px;
$logo_height_1200: 41px;

$btn_menu_1200: "../img/1200/header/header_button_menu_1200.png";
$btn_menu_width_1200: 26px;
$btn_menu_height_1200: 21px;

/*--------------------------------------------------------------------------------------------------------------------*/

/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Header 'header'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.header {
  position: relative;
  margin-bottom: 70px;

  .wraper-header {
    background-color: #262627;
  }

  &__text {
    text-align: center;

    .text__title {
      color: #ffffff;
      font-weight: 700;
      line-height: 15px;
    }

    .text__description {
      font-family: LatoReg, sans-serif;
      color: #8d81ac;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 2px;
    }

    .text__version {
      color: #848e97;
      font-weight: 400;
    }
  }

  .btn__buy {
    background-color: #8c80ab;
    color: #ffffff;
  }

  .btn__dowload {
    position: absolute;
    background-color: #8c80ab;
    color: #ffffff;
    margin: auto;
    top: 97%;
    left: 0;
    right: 0;
    width: 290px;
  }

  &__trial {
    position: absolute;
    color: #848e97;
    font-weight: 400;
    line-height: 15px;
    margin: auto;
    top: 101%;
    width: 60%;
    left: 0;
    right: 0;
    text-align: center;
  }

}

.menu-title:after {
  content: "Меню";
  position: absolute;
  top: 0px;
  right: -45px;
  color: #fff;
  line-height: 35px;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) {
  .header {
    background: url($bg_header_320);
    height: 718px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__logo {
      background: url($logo_320) no-repeat;
      background-size: 100%;
      width: $logo_width_320;
      height: $logo_height_320;
    }

    &__navbar {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__text {

      .text__title {
        font-size: 48px;
        padding-top: 45px;
        padding-bottom: 20px;
      }

      .text__description {
        font-size: 18px;
        padding-bottom: 20px;
      }

      .text__version {
        font-size: 14px;
      }
    }

    &__trial {
      padding-top: 15px;
      font-size: 14px;
      top: 102%;
    }
  }

  .menu {
    display: block;
    padding-left: 0px;
    position: absolute;
    width: 100%;
    top: 14%;
    right: 0;
    background-color: #2e2f2f;
  }
  
  .menu li a {
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color:  #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 78px;
    border-bottom: 2px solid #373737;
    padding-left: 30px;
  }

  .btn__buy {
    font-size: 15px;
    padding: 10px 25px;
  }

  .btn__menu {
    background: url($btn_menu_320) no-repeat;
    width: $btn_menu_width_320;
    height: $btn_menu_height_320;
  }

  .btn__dowload {
    font-size: 18px;
    padding: 15px 30px;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) and (min-width: 401px) {

  .header {
    background: url($bg_header_480);
    height: 834px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__logo {
      background: url($logo_480) no-repeat;
      background-size: 100%;
      width: $logo_width_480;
      height: $logo_height_480;
    }

    &__navbar {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__text {

      .text__title {
        font-size: 54px;
        padding-top: 100px;
        padding-bottom: 35px;
      }

      .text__description {
        font-size: 20px;
        padding-bottom: 25px;
      }

      .text__version {
        font-size: 16px;
      }
    }

    &__trial {
      padding-top: 20px;
      font-size: 14px;
    }
  }

  .menu {
    display: none;
  }

  .btn__buy {
    font-size: 15px;
    padding: 10px 25px;
  }

  .btn__menu {
    background: url($btn_menu_480) no-repeat;
    width: $btn_menu_width_480;
    height: $btn_menu_height_480;
  }

  .btn__dowload {
    font-size: 18px;
    padding: 15px 0;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) and (min-width: 481px) {
  .header {
    background: url($bg_header_768);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__logo {
      background: url($logo_768) no-repeat;
      background-size: 100%;
      width: $logo_width_768;
      height: $logo_height_768;
    }

    &__navbar {
      position: relative;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__text {

      .text__title {
        font-size: 72px;
        padding-top: 50px;
        padding-bottom: 25px;
      }

      .text__description {
        font-size: 24px;
        padding-bottom: 20px;
      }

      .text__version {
        font-size: 14px;
      }
    }

    &__trial {
      padding-top: 20px;
      font-size: 14px;
    }
  }

  .menu {
    padding-top: 30px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__link {
      text-decoration: none;
      color: #8d81ac;
      font-size: 16px;
      font-weight: 700;
      line-height: 15px;
    }
  }

  .btn__buy {
    position: absolute;
    font-size: 15px;
    padding: 12px 25px;
    right: 0;
    bottom: 54%;
  }

  .btn__menu {
    display: none;
  }

  .btn__dowload {
    font-size: 18px;
    padding: 15px 0;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 993px) {
  .header {
    background: url($bg_header_1200);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__logo {
      background: url($logo_1200) no-repeat;
      background-size: 100%;
      width: $logo_width_1200;
      height: $logo_height_1200;
    }

    &__navbar {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;

      .header__flex-wraper {
        display: flex;
        align-items: center;
      }
    }

    &__text {

      .text__title {
        font-size: 82px;
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .text__description {
        font-size: 30px;
        padding-bottom: 40px;
      }

      .text__version {
        font-size: 16px;
      }
    }

    &__trial {
      padding-top: 20px;
      font-size: 14px;
    }
  }

  .menu {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__link {
      text-decoration: none;
      color: #8d81ac;
      font-size: 16px;
      font-weight: 700;
      line-height: 15px;
      padding-right: 50px;
    }
  }

  .btn__buy {
    font-size: 15px;
    padding: 15px 25px;
    right: 0;
    bottom: 54%;
  }

  .btn__menu {
    display: none;
  }

  .btn__dowload {
    font-size: 18px;
    padding: 15px 0;
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/