/*SECTION*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common Section variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-testimonials'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-testimonials {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;

  &__header {
    color: #ffffff;
    font-weight: 700;
  }

  &__features {
    text-align: -webkit-center;

    .features__item {
      font-family: Lato, sans-serif;
      padding-top: 50px;
      width: 45%;

      .item__description {
        padding-top: 25px;
        color: #ffffff;
        font-weight: 700;
        font-style: italic;
        line-height: 24px;
      }

    }
  }

  &__description {
    padding-top: 70px;
    font-family: LatoReg, sans-serif;
    color: rgba(162, 145, 165, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  &__line {
    margin-top: 45px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background-color: rgba(255, 255, 255, 0.06);
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) {
  .section-testimonials {
    background-image: url(../img/320/section-testimonials/testimonials_320.png);

    &__header {
      font-size: 36px;
      line-height: 45px;
    }

    &__features {

      .features__item {
        width: 100%;

        .item__description {
          font-size: 16px;
        }
      }
    }

    &__description {
      display: none;
    }

    &__line {
      display: block;
      width: 100%;
    }

  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) and (min-width: 401px) {
  .section-testimonials {
    background-image: url(../img/480/section-testimonials/testimonials_480.png);

    &__header {
      font-size: 42px;
      line-height: 45px;
    }

    &__features {
      .features__item {
        width: 90%;

        .item__description {
          font-size: 16px;
        }
      }
    }

    &__description {
      display: none;
    }

    &__line {
      display: block;
      width: 100%;
    }

  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) and (min-width: 481px) {
  .section-testimonials {
    background-image: url(../img/768/section-testimonials/testimonials_768.png);

    &__header {
      font-size: 42px;
      line-height: 45px;
    }

    &__features {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .features__item {
        .item__description {
          font-size: 16px;
        }
      }
    }

    &__description {
      margin: 0 auto;
      width: 100%;
    }

    &__line {
      margin-top: 20px;
      display: block;
      width: 100%;
    }
  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 993px) {
  .section-testimonials {
    background-image: url(../img/1200/section-testimonials/testimonials_1200.png);

    &__header {
      font-size: 48px;
      line-height: 15px;
    }

    &__features {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .features__item {
        .item__description {
          font-size: 16px;
        }
      }

      .features__item:nth-child(3) {
        padding-top: 35px;
      }
    }

    &__description {
      margin: 0 auto;
      width: 100%;
    }

    &__line {
      display: block;
      width: 100%;
    }
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/