/*HEADER*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common header variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Header variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Header variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-callback'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-callback {
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  &__header,
  &__header7681200 {
    font-weight: 900;
    padding-bottom: 40px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    outline: none;
    .form__item {
      outline: none;
      margin-bottom: 15px;
    }

    .form__subscribe,
    .form__subscribe7681200 {
      padding: 16px 30px;
      font-size: 13px;
      font-weight: 600 !important;
    }

    .form__subscribe,
    .form__subscribe7681200 {
      &:hover {
        cursor: pointer;
        background-color: #ffffff;
        color: #8d81ac;
      }

      background-color: #8d81ac;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
    }

  }
}

.form-field {
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #c8cbcf;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 21px;
  border: none;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) {
  .form-field {
    width: 290px;
  }
  .section-callback {
    &__header7681200 {
      display: none;
    }

    &__header {
      color: #323232;
      font-size: 24px;
      line-height: 34px;
    }

    &__form {
      width: 75%;
      margin: 0 auto;

      .form__item {
      }

      .form__subscribe {
        margin-top: 15px;
      }

      .form__subscribe7681200 {
        display: none;
      }

    }
  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) and (min-width: 401px) {
  .form-field {
    width: 290px;
  }

  .section-callback {
    &__header7681200 {
      display: none;
    }

    &__header {
      color: #323232;
      font-size: 25px;
      line-height: 60px;
    }

    &__form {
      width: 75%;
      margin: 0 auto;

      .form__item {
      }

      .form__subscribe {
        margin-top: 15px;
      }

      .form__subscribe7681200 {
        display: none;
      }
    }

  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) and (min-width: 481px) {
  .form-field {
    width: 335px;
  }

  .section-callback {
    &__header7681200 {
      color: #635c73;
      font-size: 30px;
      font-weight: 700;
      line-height: 60px;
    }

    &__header {
      display: none;
    }

    &__form {

      .form__item {
        margin-bottom: 0;
      }

      .form__subscribe {
        display: none;
      }

      .form__subscribe7681200 {
        display: block;
      }
    }
  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 993px) {
  .form-field {
    width: 335px;
  }

  .section-callback {
    &__header7681200 {
      color: #635c73;
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
      display: inline-block;
      float: left;
    }

    &__header {
      display: none;
    }

    &__items {
      display: block;
    }

    &__form {

      .form__item {
        margin-bottom: 0;
      }

      .form__subscribe {
        display: none;
      }

      .form__subscribe7681200 {
        display: block;
      }
    }
  }
}
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/