/*SECTION*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Common Section variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section 'section-testimonials'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-pricing {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;

  &__header {
    color: #ff3919;
    font-weight: 700;
    padding-bottom: 50px;
    line-height: 40px;
    letter-spacing: 2px;
  }

  &__features {
    text-align: -webkit-center;

    &-item3 {
      position: relative;
      padding-bottom: 30px;
      max-width: 300px;
      text-align: center;
      display: block;
      cursor: auto;
      opacity: .9;

      &__header3 {
        padding: 30px 35px;
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        background-color: #533a41;
      }

      &__content3 {
        background-color: #533a41;
        padding-top: 20px;
        padding-bottom: 40px;
        opacity: .85;

        &-price3 {
          color: #ffffff;
          font-size: 82px;
          font-weight: 700;
          line-height: 15px;
          margin-top: 30px;
          padding-bottom: 40px;
          letter-spacing: 3px;

          span {
            font-weight: 400;
            color: #ff3919;
          }

        }

        &-period3 {
          color: #895e8c;
          font-size: 14px;
          font-weight: 400;
          line-height: 15px;
          padding-bottom: 40px;
        }

        &-line3 {
          border: 3px solid #8d81ac;
          background-color: #8d81ac;
          width: 60px;
          margin-bottom: 170px;
        }

        &-license3 {
          width: 170px;
          position: absolute;
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          line-height: 5px;
          padding-bottom: 20px;
          top: 60%;
          left: 22%;

          &-item3 {
            padding-bottom: 20px;
            text-align: center;

            &:last-child {
              padding-bottom: 0;
            }
          }
        }

        &-item3 {
          padding-bottom: 20px;
          text-align: center;
        }

        &-btn3 {
          background-color: #746778;
          text-decoration: none;
          margin-bottom: 40px;

          &:hover {
            cursor: pointer;
            background-color: #ffffff;
            color: #8c80ab;
          }
        }

      }

    }

    &-item {
      position: relative;
      padding-bottom: 30px;
      max-width: 260px;
      text-align: center;
      display: block;
      cursor: auto;
      opacity: .8;

      &__header {
        padding: 30px 35px;
        color: #ff3919;
        font-size: 24px;
        font-weight: 400;
        background-color: #665769;
      }

      &__content {
        background-color: #5d4d60;
        padding-top: 40px;
        padding-bottom: 40px;
        opacity: .75;

        &-price {
          span {
            font-weight: 400;
            color: #ff3919;
          }

          color: #ffffff;
          font-size: 60px;
          font-weight: 700;
          line-height: 15px;
          padding-bottom: 25px;
          letter-spacing: 3px;
        }

        &-period {
          color: #897e8c;
          font-size: 14px;
          font-weight: 400;
          line-height: 15px;
          padding-bottom: 40px;
        }

        &-line {
          border: 3px solid #8d81ac;
          background-color: #8d81ac;
          width: 60px;
          margin-bottom: 130px;
        }

        &-license {
          width: 210px;
          position: absolute;
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          line-height: 5px;
          top: 60%;
          left: 10%;
          &:nth-child(3) {
            left: 15%;
          }

          &-item {
            padding-bottom: 20px;
            text-align: center;
          }

          &-item:last-child {
            padding-bottom: 0;
          }
        }

        &-btn {
          &:hover {
            cursor: pointer;
            background-color: #ffffff;
            color: #8c80ab;
          }

          background-color: #746778;
          text-decoration: none;
          margin-bottom: 40px;
        }
      }

    }
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) and (min-width: 320px) {
  .section-pricing {
    background-image: url(../img/320/section-pricing/bg_pricing_320.png);

    &__header {
      font-size: 28px;
    }

    &__features {
      &-item {
        &__header {
          font-size: 24px;
        }

        &__content {
          &-price {

          }
        }

      }
    }
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) and (min-width: 401px) {
  .section-pricing {
    background-image: url(../img/480/section-pricing/bg_pricing_480.png);

    &__header {
      font-size: 42px;
    }

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) and (min-width: 481px) {
  .section-pricing {
    background-image: url(../img/768/section-pricing/bg_pricing_768.png);

    &__header {
      font-size: 42px;
      padding-bottom: 0;
    }

    &__features {
      width: 650px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-item {
        width: 260px;
        padding-top: 90px;

        &__header {
          font-size: 24px;
        }

        &__content {
          &-price {
          }

          &-license {
            top: 65%;
          }
        }

      }
    }

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .section-pricing {
    background-image: url(../img/1200/section-pricing/bg_pricing_1200.png);

    &__header {
      font-size: 48px;
      padding-bottom: 120px;
    }

    &__features {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      &-item {
        width: 260px;
        margin-top: 30px;

        &__header {
          font-size: 24px;
        }

        &__content {
          &-price {
          }
        }

      }
    }

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/