/*SECTION*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common Section variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-social'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-social {
  text-align: center;

  &__line {
    display: none;
  }

  .carusel {
    transition: width 1s;
    text-align: center;

    &__items {

      .item__person {
        padding-bottom: 20px;

        &-img {
          width: 85px;
        }

        &-data {
          .data__name {
            color: #474747;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
          }

          .data__position {
            color: #8d81ac;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
          }
        }
      }

      .item__description {
        span {
          color: #8d81ac;
        }

        font-family: LatoReg, sans-serif;
        color: #333333;
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
      }

      .item__time {
        color: #848e97;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
      }
    }
  }

  .social__nets {
    text-align: center;

    &-btn {

      .btn__git {
        &:hover {
          background-color: #2b414d;
          color: #f3f3f3;
        }

        display: block;
        background-color: #f3f3f3;
        color: #000000;
      }

      .btn__twitter {
        &:hover {
          border: 1px solid #26a6d1;
          background-color: #ffffff;
          color: #26a6d1;
        }

        display: block;
        background-color: #26a6d1;
        color: #ffffff;
      }

      .btn__facebook {

        &:hover {
          border: 1px solid #3b5998;
          background-color: #ffffff;
          color: #3b5998;
        }

        display: block;
        background-color: #3b5998;
        color: #ffffff;
      }

      .net-followers {
        color: #848e97;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
      }

      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.arrow {
  &:focus {
    outline: none;
  }

  font-size: 40px;
  border: none;
  color: #8d81ac;
  background-color: initial;
  cursor: pointer;
}

.btn-social {
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
}

.icon-social {
  position: absolute;
  left: 15%;
  top: 30%;
}

.prev {
  width: 10%;
  padding-top: 15%;
}

.next {
  width: 10%;
  padding-top: 15%;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) {
  .section-social {
    position: relative;
    margin: 0 auto;

    padding-top: 50px;
    padding-bottom: 60px;

    .carusel {
      display: flex;

      &__items {
        padding-bottom: 35px;

        .item__person {

          &-img {
            padding-bottom: 25px;
          }

          &-data {
            .data__name {
              padding-bottom: 10px;
            }

            .data__position {
            }
          }
        }

        &__description {
          padding-bottom: 15px;
        }

        &__time {
          padding-bottom: 35px;
        }
      }
    }

    &__line {
    }

    .social__nets {
      text-align: center;

      &-btn {
        width: 85%;
        margin: 0 auto;

        .btn__git {
          display: block;
          background-color: #f3f3f3;
        }

        .btn__twitter {
          display: block;
          background-color: #26a6d1;
        }

        .btn__facebook {
          display: block;
          background-color: #3b5998;
        }
      }
    }
  }

  .btn-social {
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) and (min-width: 401px) {
  .section-social {
    position: relative;
    margin: 0 auto;

    padding-top: 50px;
    padding-bottom: 60px;

    .carusel {
      display: flex;

      &__items {
        padding-bottom: 35px;

        .item__person {

          &-img {
            padding-bottom: 25px;
          }

          &-data {
            .data__name {
              padding-bottom: 10px;
            }

            .data__position {
            }
          }
        }

        &__description {
          padding-bottom: 15px;
        }

        &__time {
        }
      }
    }

    &__line {
    }

    .social__nets {
      text-align: center;

      &-btn {
        width: 85%;
        margin: 0 auto;

        .btn__git {
          display: block;
          background-color: #f3f3f3;
        }

        .btn__twitter {
          display: block;
          background-color: #26a6d1;
        }

        .btn__facebook {
          display: block;
          background-color: #3b5998;
        }
      }
    }
  }

  .btn-social {
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) and (min-width: 481px) {
  .section-social {
    position: relative;
    margin: 0 auto;

    padding-top: 50px;
    padding-bottom: 60px;

    .carusel {
      display: flex;

      &__items {
        padding-bottom: 35px;

        .item__person {

          &-img {
            padding-bottom: 25px;
          }

          &-data {
            .data__name {
              padding-bottom: 10px;
            }

            .data__position {
            }
          }
        }

        &__description {
          padding-bottom: 15px;
        }

        &__time {
        }
      }
    }

    &__line {
    }

    .social__nets {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-btn {
        margin: 0 auto;
        width: 40%;

        .btn__git {
          display: block;
          background-color: #f3f3f3;
        }

        .btn__twitter {
          display: block;
          background-color: #26a6d1;
        }

        .btn__facebook {
          display: block;
          background-color: #3b5998;
        }
      }
    }
  }

  .btn-social {
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 993px) {
  .section-social {
    position: relative;
    margin: 0 auto;

    padding-top: 50px;
    padding-bottom: 60px;

    .carusel {
      display: flex;

      &__items {
        padding-bottom: 35px;

        .item__person {

          &-img {
            padding-bottom: 25px;
          }

          &-data {
            .data__name {
              padding-bottom: 10px;
            }

            .data__position {
            }
          }
        }

        &__description {
          padding-bottom: 15px;
        }

        &__time {
        }
      }
    }

    &__line {
    }

    .social__nets {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-btn {
        margin: 0 auto;
        width: 30%;

        .btn__git {
          display: block;
          background-color: #f3f3f3;
        }

        .btn__twitter {
          display: block;
          background-color: #26a6d1;
        }

        .btn__facebook {
          display: block;
          background-color: #3b5998;
        }
      }
    }
  }

  .btn-social {
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/