/*SECTION 'section-revolutionary'*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common section variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-revolutionary'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-revolutionary {
  background-color: #ffffff;
  text-align: center;

  &__header {
    color: #635c73;
    font-weight: 700;
  }

  &__description {
    color: #323232;
    font-weight: 400;
  }

  &__git {

    .git__item:first-child,
    .git__item:last-child {
      margin-left: 0;
      margin-right: 0;
    }

    cursor: default;
    padding-top: 20px;

    .git__item {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 15px;

      .item__left {
        float: left;
        display: inline-block;
        height: 25px;
        border: 1px solid #d6d6d6;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        padding-top: 2px;
        background: linear-gradient(to top, #efefef, #ffffff);

        &-info {
          padding-left: 10px;
          padding-right: 10px;

          .info__name {
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            vertical-align: middle;
          }

        }
      }

      .item__right {
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: bottom;
        display: inline-block;
        height: 25px;
        border: 1px solid #d6d6d6;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        font-size: 12px;
        font-weight: 700;

        &-count {
          display: inline-block;
          padding-top: 6px;
        }
      }
    }
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) {
  .section-revolutionary {
    margin-top: 120px;
    margin-bottom: 90px;

    &__header {
      line-height: 40px;
      font-size: 35px;
      padding-bottom: 25px;
    }

    &__description {
      line-height: 20px;
      font-size: 14px;
    }

    &__btn-git {
      &-item {
        margin-right: 0;
        //margin-top: 15px;
      }
    }
  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) and (min-width: 401px) {
  .section-revolutionary {
    margin-top: 135px;
    margin-bottom: 80px;

    &__header {
      line-height: 50px;
      font-size: 45px;
      padding-bottom: 55px;
    }

    &__description {
      line-height: 30px;
      font-size: 16px;
    }
  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) and (min-width: 481px) {
  .section-revolutionary {
    margin-top: 155px;
    margin-bottom: 100px;

    &__header {
      font-size: 42px;
      padding-bottom: 40px;
    }

    &__description {
      line-height: 30px;
      font-size: 20px;
    }

  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) {
  .section-revolutionary {
    margin-top: 155px;
    margin-bottom: 100px;

    &__header {
      font-size: 42px;
      padding-bottom: 40px;
    }

    &__description {
      line-height: 30px;
      font-size: 20px;
    }

  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------------------------*/