/*SECTION*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common Section variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-social'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-social {
  text-align: center;

  &__carusel {
    position: relative;
    display: inline-block;
    text-align: center;

    &-social-item {
      &__img {
        width: 85px;
        height: 85px;
      }

      &__name {
        color: #474747;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }

      &__position {
        color: #8d81ac;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
      }

      &__description {
        span {
          font-family: LatoReg, sans-serif;
          color: #333333;
          font-size: 17px;
          font-weight: 400;
          line-height: 24px;
        }

        font-family: LatoReg, sans-serif;
        color: #8d81ac;
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
      }

      &__time {
        color: #848e97;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
      }
    }

  }

  .arrow {
    position: absolute;
    font-size: 25px;
    width: 10px;
    border: none;
    color: #8d81ac;
    background-color: initial;
    cursor: pointer;
  }

  .prev {
    top: 85%;
    right: 100%;
  }

  .next {
    bottom: 5%;
    left: 100%;
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) and (min-width: 320px) {
  .section-social {
    padding-top: 50px;
    padding-bottom: 60px;

    &__carusel {
      position: relative;
      display: inline-block;

      &-img {
        padding-bottom: 25px;
      }

      &-name {
        padding-bottom: 10px;
      }

      &-position {
        padding-bottom: 25px;
      }

      &-description {
        padding-bottom: 15px;
      }

      &-time {

      }

    }

  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) and (min-width: 401px) {
  .section-social {
    padding-top: 50px;
    padding-bottom: 60px;
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) and (min-width: 481px) {
  .section-social {
    padding-top: 50px;
    padding-bottom: 60px;

  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .section-social {
    padding-top: 50px;
    padding-bottom: 60px;

  }

}
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/