/*SECTION*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common Section variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-social'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-social {
  text-align: center;

  &__carusel {
    transition: width 1s;
    text-align: center;

    &-social-item {
      &__img {
        width: 85px;
      }

      &__name {
        color: #474747;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }

      &__position {
        color: #8d81ac;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
      }

      &__description {
        span {
          color: #8d81ac;
        }

        font-family: LatoReg, sans-serif;
        color: #333333;
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
      }

      &__time {
        color: #848e97;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
      }
    }
  }

  &__social-nets {
    text-align: center;

    &__net {
      &-github-btn {
        &:hover {
          background-color: #2b414d;
          color: #f3f3f3;
        }

        display: block;
        background-color: #f3f3f3;
        margin-bottom: 20px;
        color: #000000;

      }

      &-twitter-btn {
        &:hover {
          border-color: #26a6d1;
          background-color: #ffffff;
          color: #26a6d1;
        }

        display: block;
        background-color: #26a6d1;
        margin-bottom: 20px;
        color: #ffffff;
      }

      &-facebook-btn {
        &:hover {
          border-color: #3b5998;
          background-color: #ffffff;
          color: #3b5998;
        }

        display: block;
        background-color: #3b5998;
        margin-bottom: 20px;
        color: #ffffff;
      }

      &-followers {
        color: #848e97;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
      }

      padding-bottom: 30px;
    }

  }
}

.arrow {
  &:focus {
    outline: none;
  }

  //position: absolute;
  font-size: 40px;
  border: none;
  color: #8d81ac;
  background-color: initial;
  cursor: pointer;
}

.btn-social {
  border-radius: 4px;
  text-decoration: none;
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) and (min-width: 320px) {

  .prev {
    width: 10%;
  }

  .next {
    width: 10%;
  }

  .section-social {
    position: relative;
    margin: 0 auto;

    padding-top: 50px;
    padding-bottom: 60px;

    &__carusel {
      display: flex;

      &-social-item {
        width: 80%;
        display: inline-block;

        &__img {
          padding-bottom: 25px;
        }

        &__name {
          padding-bottom: 10px;
        }

        &__position {
          padding-bottom: 25px;
        }

        &__description {
          padding-bottom: 15px;
        }

        &__time {
          padding-bottom: 35px;
        }
      }

    }

    &__social-nets {
      text-align: center;

      &__net {
        &-github-btn {
          display: block;
          background-color: #f3f3f3;
          margin-bottom: 10px;
        }

        &-twitter-btn {
          display: block;
          background-color: #26a6d1;
          margin-bottom: 10px;
        }

        &-facebook-btn {
          display: block;
          background-color: #3b5998;
          margin-bottom: 10px;
        }

        padding-bottom: 30px;
      }

    }

  }

  .btn-social {
    text-decoration: none;
    padding: 10px 50px 10px 50px;
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) and (min-width: 401px) {

  .prev {
    width: 10%;
  }

  .next {
    width: 10%;
  }

  .section-social {
    position: relative;
    margin: 0 auto;

    padding-top: 50px;
    padding-bottom: 60px;

    &__carusel {
      display: flex;

      &-social-item {
        width: 80%;
        display: inline-block;

        &__img {
          padding-bottom: 25px;
        }

        &__name {
          padding-bottom: 10px;
        }

        &__position {
          padding-bottom: 25px;
        }

        &__description {
          padding-bottom: 15px;
        }

        &__time {
          padding-bottom: 35px;
        }
      }

    }

    &__social-nets {
      text-align: center;

      &__net {
        &-github-btn {
          display: block;
          background-color: #f3f3f3;
          margin-bottom: 10px;
        }

        &-twitter-btn {
          display: block;
          background-color: #26a6d1;
          margin-bottom: 10px;
        }

        &-facebook-btn {
          display: block;
          background-color: #3b5998;
          margin-bottom: 10px;
        }

        width: 60%;
        display: inline-grid;
        padding-bottom: 30px;
      }

    }

  }

  .btn-social {
    text-decoration: none;
    padding: 10px 50px 10px 50px;
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) and (min-width: 481px) {
  .section-social {
    padding-top: 50px;
    padding-bottom: 60px;

  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .section-social {
    padding-top: 50px;
    padding-bottom: 60px;

  }

}
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/