/*SECTION*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common Section variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*Section 'section-testimonials'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-testimonials {
  background-image: url(../img/320/section-testimonials/bg_testimonials.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;

  &__header {
    color: #ffffff;
    font-weight: 700;
  }

  &__features {
    margin: 0 auto;

    &-item {
      font-family: Lato, sans-serif;
      color:  #ffffff;
      font-size: 16px;
      font-weight: 700;
      font-style: italic;
      line-height: 24px;
      padding-top: 50px;

      &__description {
        padding-top: 25px;
      }

    }
  }

  &__line {
    margin-top: 45px;
  }

}
/*--------------------------------------------------------------------------------------------------------------------*/


/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) and (min-width: 320px) {
  .section-testimonials {

    padding-top: 60px;
    padding-bottom: 50px;

    &__header {
      font-size: 36px;
      line-height: 45px;
    }

    &__features {
      width: 240px;
    }

    &__line {
      border: 1px solid rgba(255, 255, 255, 0.06);
      background-color: rgba(255, 255, 255, 0.06);
      display: block;
      width: 280px;
    }

  }
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/


/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/