/*SECTION*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Common Section variables*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 320*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 480*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 768*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section variables 1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Mixin*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*Section 'section-testimonials'*/
/*--------------------------------------------------------------------------------------------------------------------*/
.section-pricing {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;

  &__header {
    color: #ff3919;
    font-weight: 700;
    padding-bottom: 50px;
    line-height: 40px;
    letter-spacing: 2px;
  }

  &__features {

    .features-wraper {
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;

      .features__item {
        position: relative;
        padding-bottom: 30px;
        cursor: auto;
        opacity: .75;
        min-width: 204px;
        margin: 0 auto;

        .item__header {
          padding: 30px 10px;
          color: #ff3919;
          font-size: 24px;
          font-weight: 400;
          background-color: #665769;
        }

        .item__content {
          background-color: #5d4d60;
          padding-top: 40px;
          padding-bottom: 40px;
          opacity: .75;

          .content__price {
            span {
              font-weight: 400;
              color: #ff3919;
            }
            color: #ffffff;
            font-size: 60px;
            font-weight: 700;
            line-height: 15px;
            padding-bottom: 50px;
            letter-spacing: 3px;
          }

          .content__period {
            color: #897e8c;
            font-size: 14px;
            font-weight: 400;
            line-height: 15px;
            padding-bottom: 40px;
          }

          .content__line {
            border: 3px solid #8d81ac;
            background-color: #8d81ac;
            margin-bottom: 100px;
            width: 60px;
          }

          .content__license {
            position: absolute;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 5px;
            top: 65%;
            left: 0;
            right: 0;

            .license__item {
              padding-bottom: 20px;
              text-align: center;
            }

            .license__item:last-child {
              padding-bottom: 0;
            }
          }

          .content__btn {
            padding: 15px 35px;
            background-color: #665769;
            color: #ffffff;
            text-decoration: none;
            margin-bottom: 40px;

            &:hover {
              cursor: pointer;
              background-color: #ffffff;
              color: #8c80ab;
            }

          }

        }
      }

      &:nth-child(3) {
        padding-left: 0;
        padding-right: 0;
        .features__item {
          min-width: 224px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 0;

          .item__header {
            padding: 35px 40px;
            color: #ffffff;
            font-size: 35px;
            background-color: #000000;
            opacity: .75;
          }

          .item__content {
            background-color: #000000;
            opacity: .5;

            .content__price {
              span {
                color: #ffffff;
              }
              font-size: 80px;
            }

            .content__period {
              color: #897e8c;
            }

            .content__line {
            }

            .content__license {

              .license__item {
              }

              .license__item:last-child {
              }
            }

            .content__btn {

              &:hover {
              }
            }
          }
        }
      }
    }
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*320*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 400px) {
  .section-pricing {
    background-image: url(../img/320/section-pricing/bg_pricing_320.png);

    &__header {
      font-size: 28px;
    }

    &__features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 10%;
      padding-right: 10%;

      .features-wraper {
        .features__item {
        }
      }
    }
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*480*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) and (min-width: 401px) {
  .section-pricing {
    background-image: url(../img/480/section-pricing/bg_pricing_480.png);

    &__header {
      font-size: 42px;
    }

    &__features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 10%;
      padding-right: 10%;

      .features-wraper {
        .features__item {
        }
      }
    }
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*768*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) and (min-width: 481px) {
  .section-pricing {
    background-image: url(../img/768/section-pricing/bg_pricing_768.png);

    &__header {
      font-size: 42px;
    }

    &__features {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .features-wraper {
        padding-top: 10px;

        &:nth-child(4) {
          padding-top: 20px;
        }

        .features__item {
          margin-left: 25px;
          margin-right: 25px;
        }
      }
    }
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*1200*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 993px) {
  .section-pricing {
    background-image: url(../img/1200/section-pricing/bg_pricing_1200.png);

    &__header {
      font-size: 48px;
    }

    &__features {
      display: flex;
      justify-content: center;

      .features-wraper {
        margin-top: 10px;

        .features__item {
        }

        &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------*/