/*Initialization space*/
/*--------------------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common classes*/
/*--------------------------------------------------------------------------------------------------------------------*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.header__container-navbar,
.header__container-text,
.section-features__container {
  margin: 0 auto;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Import files*/
/*--------------------------------------------------------------------------------------------------------------------*/
@import "header";
@import "section-revolutionary";
@import "section-features";
@import "footer";
/*--------------------------------------------------------------------------------------------------------------------*/


/*Include fonts*/
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: Montserrat, sans-serif;
  src: url(../fonts/Montserrat-Regular.ttf);
}
/*--------------------------------------------------------------------------------------------------------------------*/

/*Include sprites*/
/*--------------------------------------------------------------------------------------------------------------------*/
.sprite_section_revolutionary {
  background-image: url(../img/common/section-revolutionary/sprites/section_revolutionary_sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;

}

.sprite-icon_eye {
  width: 16px;
  height: 16px;
  background-position: -5px -5px;
}

.sprite-icon_github {
  width: 16px;
  height: 16px;
  background-position: -31px -5px;
}

.sprite-icon_star {
  width: 16px;
  height: 16px;
  background-position: -5px -31px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.sprite_section_features {
  background-image: url(../img/common/section-features/sprites/section_features_sprite.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-icon_features_better {
  width: 71px;
  height: 71px;
  background-position: -5px -5px;
}

.sprite-icon_features_stuff {
  width: 60px;
  height: 84px;
  background-position: -86px -5px;
}

.sprite-icon_features_tool {
  width: 90px;
  height: 80px;
  background-position: -156px -5px;
}

.sprite-icon_features_web {
  width: 111px;
  height: 64px;
  background-position: -156px -95px;
}
/*--------------------------------------------------------------------------------------------------------------------*/