/*Initialization space*/
/*--------------------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Common classes*/
/*--------------------------------------------------------------------------------------------------------------------*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .container {
    width: 1200px;
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}

.container-image {
  margin: 0 auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.btn {
  border-radius: 21px;
  padding: 15px 35px 15px 35px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  letter-spacing: 1px;
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*Import files*/
/*--------------------------------------------------------------------------------------------------------------------*/
@import "header";
@import "section-revolutionary";
@import "section-features";
@import "section-social";
@import "section-testimonials";
@import "section-pricing";
@import "section-callback";
@import "footer";
/*--------------------------------------------------------------------------------------------------------------------*/


/*Include fonts*/
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: Montserrat, sans-serif;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Lato, sans-serif;
  src: url(../fonts/Lato-SemiboldItalic.ttf);
}

@font-face {
  font-family: LatoReg, sans-serif;
  src: url(../fonts/Lato-Regular.ttf);
}
/*--------------------------------------------------------------------------------------------------------------------*/

/*Include sprites*/
/*--------------------------------------------------------------------------------------------------------------------*/
.sprite-section-revolutionary {
  background-image: url(../img/common/section-revolutionary/sprites/section_revolutionary_sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;

}

.sprite-icon-eye {
  width: 16px;
  height: 16px;
  background-position: -5px -5px;
}

.sprite-icon-github {
  width: 16px;
  height: 16px;
  background-position: -31px -5px;
}

.sprite-icon-star {
  width: 16px;
  height: 16px;
  background-position: -5px -31px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.sprite-section-features {
  background-image: url(../img/common/section-features/sprites/section_features_sprite.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-icon-features-better {
  width: 71px;
  height: 71px;
  background-position: -5px -5px;
}

.sprite-icon-features-stuff {
  width: 60px;
  height: 84px;
  background-position: -86px -5px;
}

.sprite-icon-features-tool {
  width: 90px;
  height: 80px;
  background-position: -156px -5px;
}

.sprite-icon-features-web {
  width: 111px;
  height: 64px;
  background-position: -156px -95px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.sprite-section-testimonials {
  background-image: url(../img/common/section-testimonials/sprites/section_testimonials_sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-logo-bloq {
  width: 166px;
  height: 34px;
  background-position: -5px -5px;
}

.sprite-logo-buddha {
  width: 225px;
  height: 24px;
  background-position: -5px -49px;
}

.sprite-logo-codrops {
  width: 148px;
  height: 50px;
  background-position: -5px -83px;
}

.sprite-logo-smashing {
  width: 165px;
  height: 43px;
  background-position: -5px -143px;
}

.sprite-logo-tnw {
  width: 108px;
  height: 34px;
  background-position: -181px -5px;
}

.sprite-logo-w {
  width: 64px;
  height: 64px;
  background-position: -240px -49px;
}
